body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    scroll-snap-type: mandatory;
    overflow-y: scroll;
    margin: 0px;
}

/* the main heading */
h1 {
    font-size: 3rem;
}

/* the div that holds all the page content */
main {
    width: 100%;
    margin: auto;
    height: 100%;
    align-self: center;
}

/* the blue text under the big heading */
#tagline {
    font-weight: bold;
    color: hsl(202.5, 91.43%, 35%);
}

/* a class used to center text and other content */
.center {
    text-align: center;
    width: 100%;
}

/* the div that holds the services cards */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(242px, 1fr));
    gap: 1rem;
    align-items: start;
    max-width: 1028px;
    width: 100%;
    margin: auto;
}

/* the cards that explain services */
.card {
    background-color: hsl(202.5, 55%, 95%);
    border-radius: 1rem;
    padding: 1rem;

}

/* the big div at the top of the page with the main heading */
#hero {
    background-color: hsl(202.5, 55%, 95%);
    align-items: center;
}

/* the div with services content */
#services {
    min-height: 100%;
}

/* the divs that hold content, divided up into sections */
section {
    min-height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    align-content: center;
    justify-content: center;
}

/* the left column of sections */
.left {
    width: 40%;
    min-width: 320px;
}

/* the right column of sections */
.right {
    width: 50%;
    min-width: 320px;
}

/* the main image */
#primary {
    width: 100%;
    border-radius: 3rem;
    /*box-shadow: 3px 3px 18px hsl(202.5, 25%, 70%) ;*/
}

/* the image in the section about my process */
#secondary {
    width: 100%;
    border-radius: 2rem;
}

/* the numbers for the list in the section about my process */
#process li::marker {
    font-weight: bold;
}

/* the section about my process */
#how-we-work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #032B43;
    color: white;
}

/* a narrower div inside sections for big displays */
.wrap {
    max-width: 1028px;
    min-width: 320px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin: auto;
    justify-content: center;

}